<div class="border-form-div-content">
	<p>This blog includes the following</p>
	<p> user sign in and sign up.</p>
	<p>user can create posts and make comments on his own posts as well as other posts and 
	  others also make comments on his posts.</p>
	<p> user can also update and delete his posts.</p>
	<p> user can delete comments on his own posts.</p>
</div>