/*/*@charset "utf-8";
/* CSS Document */

body {
	
	background-color:#dbf0fa;
	background: url("/assets/download.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}

*{margin:0px;
padding:0px;
}

