      <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
          <div class="container">
            
            <!-- <a class="brand" href="#">blog application</a> -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <!-- <li class="active"><a href="#">Home</a></li> -->
                      <div id="footer">
      <div class="container">
        <p class="muted credit">Blog developed by using <a href="http://rubyonrails.org/">ruby and rails</a> and <a href="http://ruby.railstutorial.org/">Ruby </a>.</p>
      </div>
    </div>                 </ul>
              </div>
            
          </div>
        </div>
      </div>
</ul>